.Chirp {
    background-color: white;
    width: 85%;
    padding: 5%;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 7%;
}


.Chirp-Control-Divider {
    border: none;
    height: 1px;
    color: gainsboro;
    background-color: gainsboro;
}

@media (max-width: 992px) {
    .Chirp {
        width: 88%
    }
}

@media (max-width: 580px) {
    .Chirp {
        width: 90%;
    }
}