#Main-Controls {
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}

#Post-Button-Container {
    margin-left: auto;
}

.Main-Control {
    font-size: 1.50em;
    margin-right: 5%;
    color: #817ee6;
    cursor: pointer;
}

.Main-Control:hover {
    transform: scale(1.05);
    transition: 0.25s;
}

.Selected-Main-Control {
    font-weight: bold;
    color: #464646;
}

@media (max-width: 580px) {
    #Main-Controls {
        margin-top: 4%;
        margin-bottom: 4%;
    }
    

    .Main-Control {
        width: 50%;
        font-size: 0.8em;
    }

    .Selected-Main-Control {
        border-bottom: 2px solid #464646;
        padding-bottom: 3px;
    }

    #Post-Button-Container {
        display: none;
    }
}
