
.Navbar-Icon {
    height: 18px;
    width: auto;
    position: relative;
    top: 3px;
    cursor: pointer;
    margin-left: 20px;
}

.Navbar-Icon:hover {
    opacity: 0.90;
}

.Navbar-Icon-Legend {
    display: inline-block;
    background-color: #292929;
    color: white;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    font-size: 9px;
    font-weight: bold;
    position: relative;
    bottom: 10px;
    right: 5px;
    cursor: pointer;
}

.Navbar-Icon-Legend span {
    line-height: 12px;
    position: relative;
    font-weight: bold;
}

@media (max-width: 768px) {
    .Navbar-Icon {
        position: relative;
        top: 5px;
    }
}

@media (max-width: 580px) {
    .Navbar-Icon, .Navbar-Icon-Legend {
        display: none;
    }
}