
.Navbar-Icon {
    height: 13px;
    width: auto;
    position: relative;
    top: 3px;
    cursor: pointer;
    margin-left: 20px;
}

.Navbar-Icon-Legend {
    display: inline-block;
    background-color: #292929;
    color: white;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    font-size: 6px;
    font-weight: bold;
    position: relative;
    bottom: 6px;
    right: 3px;
}

.Navbar-Icon-Legend span {
    line-height: 10px;
    position: relative;
    font-weight: bold;
}