#Navbar {
    background-color: #817ee6;
    color: white;
    height: 55px;
}

#Navbar-Elements-Container {
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
}

#App-Name {
    font-weight: bold;
    font-size: 1.5em;
}

#Navbar-Search {
    padding: 7px;
    padding-left: 32px;
    border: none;
    margin-right: 0px;
    font-size: 0.9em;
    border-radius: 5px;
    width: 35%;
    width: 400px;
    font-family: 'Quicksand';
}

#Navbar-Search::placeholder {
    color: lightgrey;
    font-weight: bold;
}

#Navbar-Search-Icon {
    position: relative;
    left: 25px;
    top: 3px;
    height: 15px;
    width: auto;
}

#Navbar-Responsive-Search-Icon {
    position: relative;
    top: 7px;
    display: none;
}

#Hamburger-Icon {
    display: none;
    cursor: pointer;
}

.Hamburger-Icon-Bar-1, .Hamburger-Icon-Bar-2, .Hamburger-Icon-Bar-3 {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  .change .Hamburger-Icon-Bar-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .Hamburger-Icon-Bar-2 {opacity: 0;}
  
  .change .Hamburger-Icon-Bar-3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }


@media (max-width: 992px) {
    #Navbar-Search {
        width: 300px;
    }
}

@media (max-width: 768px) {
    #Navbar-Search {
        width: 200px;
        font-size: 0.7em;
    }
}

@media (max-width: 580px) {
    #Navbar-Search-Icon {
        display: none;
    }

    #Navbar-Responsive-Search-Icon {
        display: inline;
    }

    #App-Name {
        font-size: 1.25em;
        position: relative;
        top: 3px;
        display: block;
        margin-left: auto;
        left: 10px;
    }

    #Hamburger-Icon {
        display: block;
        position: absolute;
        left: 0;
        bottom: -3px;
    }

    #Navbar-Search {
        display: none;
    }
}

