.Chirps-Column {
    width: 33%;
}

.Chirps-Container .Chirps-Column:nth-child(2) {
    position: relative;
    left: 1.5%;
}

.Chirps-Container .Chirps-Column:nth-child(3) {
    position: relative; 
    left: 3%;
}

@media (max-width: 992px) {
    .Chirps-Column {
        width: 50%;
    }

    .Chirps-Container .Chirps-Column:nth-child(3) {
        position: relative; 
        left: 0%;
        bottom: 65px;
    }
}

@media (max-width: 772px) {
    .Chirps-Container .Chirps-Column:nth-child(3) {
        position: relative; 
        bottom: 72px;
    }
}

@media (max-width: 650px) {
    .Chirps-Container .Chirps-Column:nth-child(3) {
        position: relative; 
        bottom: 93px;
    }
}

@media (max-width: 580px) {
    .Chirps-Column {
        width: 100%;
    }

    .Chirps-Container .Chirps-Column:nth-child(2) {
        left: 0;
    }

    .Chirps-Container .Chirps-Column:nth-child(3) {
        position: relative; 
        left: 0%;
        bottom: 0px;
    }
}