.Chirp-Controls {
    display: flex;
    margin-top: 3%;
}

.Chirp-Control-Container {
    display: flex;    
    cursor: pointer;
}

.Chirp-Control-Count {
    font-size: 0.75rem;
    margin-left: 4px;
    font-weight: bold;
    color: grey;
}

.Chirp-Control-Img {
    height: 15px;
    width: auto;
}

